RewriteEngine On

RewriteRule ^media/(.*)$ Content/media/$1

RewriteRule ^(([a-zA-Z]{2})/|(admin)/)?((/?[A-Za-z0-9\-]+){0,4})?(/query((/[^/]+)*))?/?$ Index.php?language=$2&layer=$3&controller=$4&query=$7

# Error document redirecting
ErrorDocument 404 http://localhost/websitetest/error/e-404/page-not-found/